{% include 'header.html' %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form action="/setup" method="POST">
      <h2>First time setup</h2>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="admin" required autofocus>
      <br \>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <br>
      <button class="btn btn-lg btn-default btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

{% include 'footer.html' %}
